.movies {    
    text-align: center;    
}
.moviesList {
    display: flex;
    margin: 2em;
    flex: 0 1 100%;
    flex-wrap: wrap;    
    align-items: flex-start;
    justify-content: space-evenly;
        
}
@media screen and (max-width: 500px) {
    .moviesList > * {
        flex-basis: 100%;
    }
}