.movies {    
    text-align: center;    
}
.moviesList {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 20%));
    grid-gap: 1rem;    
    justify-content: space-around;        
}